<!DOCTYPE html>
<head>
    <title>Short Url Generator</title>
</head>
<body>
    <h1>Short Url Generator</h1>
    <form method="POST" action="/urls">
        <label for="url">Enter URL :</label>
        <input type="url" id="RedirectURL" name="RedirectURL" placeholder="Enter URL"> <br>
        <button type="submit" value="Submit">Generate</button>
    </form>
</body>